<ul class="tab-list wrap">
  <li routerLinkActive="active"><a routerLink="latest">最近一次</a></li>
  <li routerLinkActive="active"><a routerLink="all">全部</a></li>
  <li>
    <div class="select-value">
      <span>请选择课程</span>
      <span class="caret"></span>
    </div>
    <ul class="select-list">
      <li class="option" title="请选择课程">请选择课程</li>
      <li class="option">软件工程</li>
      <li class="option">安卓程序设计</li>
      <li class="option">iOS程序设计</li>
    </ul>
  </li>
</ul>
<router-outlet></router-outlet>