:host {
  display: block;  
}

.day {
  float: left;
  width: 30%;
}

.class-index {
  float: right;
  width: 68%;
  text-align: right;
}

.class-index * {
  display: inline-block;
}

.class-index select {
  width: 43%;
}

.seperator {  
  padding: 0 1px;
  text-align: center;
}

.remove-btn {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  background-image: url('/public/images/remove.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.clear {
  clear: both;
}