<select class="day" [ngModel]="day" (ngModelChange)="selectDay($event)">
  <option value="星期一">星期一</option>
  <option value="星期二">星期二</option>
  <option value="星期三">星期三</option>
  <option value="星期四">星期四</option>
  <option value="星期五">星期五</option>
  <option value="星期六">星期六</option>
  <option value="星期日">星期日</option>
</select>
<div class="class-index">
  <select [ngModel]="startIndex" (ngModelChange)="selectIndex($event, 0)">
    <option *ngFor="let o of options; let i = index" [value]="i+1">第{{i+1}}节</option>
  </select>
  <div class="seperator">—</div>
  <select [ngModel]="endIndex" (ngModelChange)="selectIndex($event, 1)">
    <option *ngFor="let o of options; let i = index" [value]="i+1">第{{i+1}}节</option>
  </select>
</div>
<div class="clear"></div>