<div *ngIf="!tip">

<ul class="chart-list">
  <li>
    <div class="title">课前签到情况比例图</div>
    <div class="chart-container">
      <canvas baseChart
                [data]="beforeSignInData"
                [labels]="signInLabels"
                [chartType]="'doughnut'"
                [options]="commonOptions"></canvas>
    </div>
  </li>
  <li>
    <div class="title">课后签到情况比例图</div>
    <div class="chart-container">
      <canvas baseChart
                [data]="afterSignInData"
                [labels]="signInLabels"
                [chartType]="'doughnut'"
                [options]="commonOptions"></canvas>
    </div>
  </li>
  <li *ngIf="showChart">
    <div class="title">电量使用图</div>
    <div class="chart-container battery-chart-container">
      <canvas baseChart
                [datasets]="batteryData"
                [labels]="batteryLabels"
                [legend]="'true'"
                [chartType]="'bar'"
                [options]="batteryOptions"></canvas>
    </div>  
  </li>
</ul>

<button type="button" class="toggle-name-btn" (click)="toggleIdAndName()">切换显示</button>

<ul class="chart-list battery-board">
  <li *ngIf="showChart">
    <div class="title">电量消耗前十</div>
    <div class="chart-container">
      <canvas baseChart
                [datasets]="top10BatteryData"
                [labels]="top10BatteryLabels"
                [chartType]="'bar'"
                [options]="commonOptions"></canvas>
    </div>
  </li>
  <li *ngIf="showChart">
    <div class="title">电量消耗后十</div>
    <div class="chart-container">
      <canvas baseChart
                [datasets]="last10BatteryData"
                [labels]="last10BatteryLabels"
                [chartType]="'bar'"
                [options]="commonOptions"></canvas>
    </div>
  </li>
</ul>

</div>

<div class="tip" *ngIf="tip">{{tip}}</div>