body {
  background-color: #F1F2F7;
}

body, input, button, select {
  font-size: 13px;
  font-family: "Microsoft YaHei" !important;
}

body, h1, h2, h3, h4, h5, h6, input, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input, select {
  display: block;
  width: 99%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 1em;
  border: 1px solid #DDDDDD;
  border-radius: 5px;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type=checkbox], input[type=radio] {
  width: auto;
}

select, input[type=date], input[type=time], input[type=datetime-local] {
  text-indent: 0.5em;
}

button {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;  
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #97CC00;
  cursor: pointer;   
}
button:active { 
  background-color: #698e00; 
}
button[disabled] {
  background-color: #b6db4d;
}

a {
  color: #ABABAB; 
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #97CC00;
}

/* clear float */
.wrap {
  zoom: 1; /*==for IE6/7 Maxthon2==*/
}
.wrap:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group .error {   
  padding: 15px 20px;
  border-radius: 5px;
  color: #BE706F;   
  background-color: #F2DEDE;   
}

.form-group label.left {
  float: left;
  height: 39px;
  line-height: 39px;
  color: #797979;
  font-size: 1.1em;
}

.form-group label.right {
  float: right;
  height: 39px;
  line-height: 39px;
  font-size: 1.1em;
}

.form-group .right {
  float: right;
  width: 84%;
}

.caret {
  display: inline-block;
  border-top: 4px solid black;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

.green        { color: white; background-color: #97CC00; }
.blue         { color: white; background-color: #58C9F3; }
.red          { color: white; background-color: #FF6C60; }
.orange       { color: white; background-color: #F5A623; }
.purple       { color: white; background-color: #9013FE; }
.blue-green   { color: white; background-color: #40CBCE; }

.green:active         { background-color: #698e00; }
.blue:active          { background-color: #2DBAF0; }
.red:active           { background-color: #FF1300; }
.orange:active        { background-color: #D2880B; }
.purple:active        { background-color: #6301BC; }
.blue-green:active    { background-color: #28989B; }