<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signer首页</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>

<div id="hd">
    <img class="logo" src="../img/home_logo.png">
    <div class="line"></div>
    <h3 class="title">计算机学院出品</h3>
    <a class="login">教师登录</a>
</div>

<div id="page">
    <div class="right">
        <img class="title" src="../img/home_title.png">
        <p class="text">用新方式记录课堂</p>
        <div class="download">
            <img class="android" src="../img/home_icon_android.png">
            <img class="qrcode" src="../img/home_qrcode_android.png">
        </div>
        <div class="fill"></div>
        <div class="download">
            <img class="ios" src="../img/home_icon_ios.png">
            <img class="qrcode" src="../img/home_qrcode_android.png">
        </div>
    </div>
</div>

</body>
</html>