<div class="header">
  <div class="title">{{ isEdit ? '编辑课程' : '创建课程' }}</div>
</div>
<form name="courseForm">
  <div class="form-group wrap">
    <label class="left" for="name">课程名称</label>
    <input type="text" class="right" id="name" name="name" [(ngModel)]="course.name" />
  </div>
  <div class="form-group wrap">
    <label class="left" for="startTime">上课时间段</label>    
    <div class="right wrap class-time-select">
      <class-time *ngFor="let t of courseTimes; let i=index;" [(time)]="t.value" [dataIndex]="i" (remove)="removeClassTime($event)"></class-time>      
      <button type="button" class="add-class-time-btn" (click)="addClassTime()">添加时间段</button>      
    </div>
  </div>
  <div class="form-group wrap">
    <label class="left">上课地点</label>
    <input type="text" class="right" id="location" name="location" [(ngModel)]="course.location" />
  </div>
  <div class="form-group wrap">
    <div class="right">
      <button type="button" class="save-btn green" (click)="saveCourse(course)">保存</button>
      <button type="button" class="cancel-btn red" (click)="cancelEdit()" *ngIf="isEdit">取消</button>      
    </div>
  </div>
</form>

<pop-up></pop-up>