<div *ngIf="sign">

<!-- 标题栏 -->
<div class="title">
  <span [style.background-color]="sign.color">{{sign.courseName}}</span>
</div>

<!-- 签到基本信息栏 -->
<div class="info wrap" *ngIf="!isLargeQRCode">
  
  <!-- 签到信息 -->
  <ul class="status-list">
    <li><label>开始时间</label><span>{{sign.startTime}}</span></li>
    <li><label>结束时间</label><span>{{sign.endTime}}</span></li>
    <li><label>签到状态</label><span [style.color]="signStates[sign.state].color">{{signStates[sign.state].text}}</span></li>
  </ul>

  <!-- 签到二维码 -->
  <div class="qr-code" (click)="ToggleQRCodeSize()">
    <qr-code [data]="sign.code" [size]="'120'"></qr-code>
    <div class="qr-code-tip">点我放大</div>
  </div>

  <!-- 定位地图 -->
  <div class="map-container">
    <baidu-map [lng]="map.lng" [lat]="map.lat" (mapClick)="changePosition($event)"></baidu-map>
    <button type="button" (click)="updatePosition()">使用该定位</button>
  </div>  

  <!-- 签到情况图 -->
  <div class="sign-in">
    <circle-progress [nowValue]="signIn" [maxValue]="sign.studentCount" 
        [fontSize]="18" [fontColor]="'gray'" [boxSize]="140" 
        [radius]="70" [border]="12" [backgroundColor]="'#DDD'"        
        [lowColor]="'#97CC00'" [middleColor]="'#97CC00'" [interColor]="'#97CC00'" [highColor]="'#97CC00'">
    </circle-progress>
  </div>
</div>

<!-- 签到记录栏 -->
<div class="body" *ngIf="!isLargeQRCode">

  <!-- 课前、课后选择 -->
  <div class="radio-group">
    <button type="button" [class.inactive]="radiosInactive[0]" (click)="selectRadio(0)">课前</button>
    <button type="button" [class.inactive]="radiosInactive[1]" (click)="selectRadio(1)">课后</button>
  </div>

  <!-- 可进行的操作 -->
  <div class="operate-group">
    <div class="all-confirm-group" *ngIf="records.length - signIn > 0">
      <button type="button" class="blue" (click)="confirmAll(0)">全部同意</button>
      <button type="button" class="red" (click)="confirmAll(1)">全部拒绝</button>
    </div>
    <button type="button" class="orange" *ngIf="radiosInactive[0] && !sign.isAfterOpen" (click)="openAfterSign()">开放签到</button>
    <button type="button" (click)="addSignIn()">补充签到</button>
    <button type="button" class="purple" (click)="exportSign()">导出签到</button>    
  </div>

  <!-- 签到记录列表 -->
  <ul class="sign-in-list" *ngIf="records">
    <li *ngFor="let r of records; trackBy: trackByFn">
      <img class="avatar" [src]="r.studentAvatar" onerror="javascript:this.src='/public/images/default.png'" />
      <div>{{r.studentName}}</div>
      <div [class]="r.distance <= 100 ? 'green-font' : 'red-font'">{{r.distance}}m</div>
      <div class="confirm-group wrap" *ngIf="r.state == 0">
        <button type="button" class="confirm-btn" (click)="confirm(r, 0)"></button>
        <button type="button" class="cancel-btn" (click)="confirm(r, 1)"></button>
      </div>
      <div class="confirm-state" *ngIf="r.state != 0">
        <span class="green-font" [hidden]="r.state != 1">已准许</span>
        <span class="red-font" [hidden]="r.state != 2">已拒绝</span>
      </div>      
    </li>    
  </ul>

  <!-- 无签到记录时的提示 -->
  <div class="no-sign-tip" *ngIf="records.length <= 0">暂无学生签到</div>  
</div>

<!-- 放大版二维码 -->
<div class="big-qr-code" *ngIf="isLargeQRCode">
    <qr-code [data]="sign.code" [size]="'350'" (click)="ToggleQRCodeSize()"></qr-code>
    <div class="qrcode">Code: <span class="qrcode-num">{{sign.code}}</span></div>
    <div class="qr-code-tip">点我缩小</div>
</div>

</div>

<pop-up></pop-up>