<!-- 导航栏 -->
<ul class="tab-list wrap">
  <li>
    <div class="select-value" (click)="toggleSelect()">
      <span class="value">{{ selectedRoom ? selectedRoom.name : '请选择聊天室' }}</span>
      <span class="caret"></span>
    </div>
    <ul class="select-list" [hidden]="!isOpenSelect">
      <li class="option" title="请选择聊天室" (click)="selectRoom(null)">请选择聊天室</li>
      <li *ngFor="let r of rooms" (click)="selectRoom(r)">{{r.name}}</li>
    </ul>
  </li>
</ul>

<div class="chat-list-container" *ngIf="!tip">

  <!-- 聊天室界面 -->
  <ul class="chat-list" #msgList (scroll)="scrollMsg($event)">
    <li><loading [isShow]="isLoading" [showLoading]="!isLoadAll" [text]="completeText"></loading></li>
    <li class="wrap" *ngFor="let m of msgs" [ngClass]="msgClass(m)">
      <img class="avatar" [src]="m.avatar" onerror="javascript:this.src='/public/images/default.png'" />
      <div class="caret"></div>
      <div class="msg">
        <div class="time">{{ m.createdAt | date: 'HH:mm' }}</div>
        <div class="content">{{ m.content }}</div>
      </div>
    </li>
  </ul>

  <!-- 发送消息 -->
  <div class="send-msg-container wrap">
    <textarea class="send-msg" rows="3" [(ngModel)]="content"></textarea>
    <div class="send-msg-footer wrap">
      <button type="button" class="send-msg-btn blue" (click)="sendMsg()">发送</button>
      <div class="short-cut">按 ctrl+enter 发送</div>
    </div>    
  </div>

</div>

<!-- 提示 -->
<div class="tip" *ngIf="tip">{{tip}}</div>

<pop-up></pop-up>