.statistic-menu {
  float: left;
  width: 220px
}

.statistic-menu li {
  height: 70px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
  cursor: pointer;
  transform: scale(0.9);
}

.statistic-menu li:hover {
  animation: bigger 100ms forwards;
}

.symbol {
  float: left;
  width: 40%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;  
}

.symbol-people {
  background-image: url('/public/images/people.png');
  background-color: #6CCAC9;
}

.symbol-course {
  background-image: url('/public/images/course.png');
  background-color: #FAD244;
}

.symbol-label {
  background-image: url('/public/images/label.png');
  background-color: #ff6c60;
}

.symbol-chart {
  background-image: url('/public/images/chart.png');
  background-color: #57c8f2;
}

.content {  
  float: left;
  width: 59%;
  height: 100%;  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #C6CAD6;
  text-align: center;  
  background-color: white;  
}

.value {
  margin-top: 7px;
  font-size: 2em;
}

.calendar {
  margin-left: 270px;
  padding: 25px;
  background-color: white;
}

.opt-group {
  float: left;
}

.opt-group li {
  float: left;  
}

.opt-group li:first-child {
  border-right: 1px solid lightgray;
}

.opt-group li:first-child button {      
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.opt-group li:last-child button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.today-btn {
  float: left;
  width: auto;
  margin-left: 15px;
  border-radius: 5px;
}

.date {
  width: 6em;
  margin: 0 auto;
  font-size: 2em;
  color: #C8CCD7;
}

.body {
  margin-top: 40px;  
}

.body table {
  width: 100%;
}

.body th {
  width: 118px;
  height: 30px;
  line-height: 30px;
  border: solid #ddd;
  border-width: 1px 0 1px 1px;
  color: #646464;
  background-color: #F3F3F3;
}

.body th:last-child {
  border-right-width: 1px;
}

.body td {
  position: relative;
  height: 97px;
  border: solid #ddd;
  border-width: 0 0 1px 1px;
  overflow: hidden;    
  vertical-align: top;
  cursor: pointer;
}

.body td:last-child {
  border-right-width: 1px;
}

.day-number {
  float: right;
  padding: 0 2px;
  color: #646464;
}

.day-number.inactive {
  opacity: 0.3;
}

.day-number.selected {
  color: #7ED321;
  font-size: 1.4em;
}

.date-btn-group {    
  position: absolute;
  top: -100%; left: 0; right: 0;
  height: 100%;
  margin: 0 auto; 
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);  
  transition: 500ms top;  
}

.body td:hover .date-btn-group {
  top: 0;
}

.date-btn-group button {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 35px;
  margin-left: 10%;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 35px;  
  transform: scale(0.9);
}

.date-btn-group button:hover {
  transform: scale(1);
}

.date-btn-group button:first-child {
  margin-left: 0;
}

.add-btn {
  background-image: url('/public/images/add.png');
}

.detail-btn {
  background-image: url('/public/images/goto.png');
}

button {
  padding: 10px 15px;
  border-radius: 0;   
  color: #646464;
  background-color: #F3F3F3;
}
button:hover {
  color: white;
  background-color: #FF6C60;
}

@keyframes bigger {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}