<ul class="sidebar-menu">
  <li><a routerLinkActive="active" routerLink="/home/calendar">首页</a></li>
  <li><a routerLinkActive="active" routerLink="/home/course">课程数据</a></li>
  <li><a routerLinkActive="active" routerLink="/home/student">学生数据</a></li>
  <li><a routerLinkActive="active" routerLink="/home/sign">签到数据</a></li>
  <li><a routerLinkActive="active" routerLink="/home/statistics">统计数据</a></li>
  <li><a routerLinkActive="active" routerLink="/home/chatRoom">课堂聊天室</a></li>
  <li><a routerLinkActive="active" routerLink="/home/about">关于系统</a></li>
</ul>