:host {
  position: fixed;
  top: 0; bottom: 0;
  width: 160px;
  padding: 10px;
  background-color: #2a3542; 
}

.sidebar-menu li a {
  display: block;  
  margin: 20px 0;
  padding: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

.sidebar-menu li a:hover,
.sidebar-menu li a.active {
  color: white;
  background-color: #35404d;
  border-radius: 5px;
}