:host {
  display: block;    
  border-radius: 5px;
  background-color: white;  
}

.header {
  padding: 15px 25px;
  border-bottom: 1px solid #EFF2F7;
}

.title {
  font-size: 1.3em;
  color: #797979;
}

.header > .title {
  float: left;
}

.search-box {
  float: right;
}

.search-box > .title {
  float: left;
  height: 29px;
  line-height: 29px;
}

.search {
  float: right;
  width: 65%;
  padding: 5px 10px;
}

.menu {
  padding: 15px 25px;
}

.menu-list {
  float: left;
}

.menu-list li {
  display: inline-block;
  margin-right: 20px;
}

.menu-list li button {
  width: 80px;
}

.course-list {
  float: right;
  width: 90px;
}

.student-table {
  width: 100%;  
  color: #797979;
}

.student-table tbody tr:nth-of-type(odd)  {background:#F9F9F9;}/*奇数行*/

tr th:first-child, 
tr td:first-child {
  width: 17px;
}

.student-table th {
  width: 118px;  
  height: 60px;  
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;  
  font-size: 1.15em;
}

.student-table td {
  height: 60px;  
  border-bottom: 1px solid #ddd;
}

.student-table td button {
  display: inline-block;
  width: 20px;
  height: 20px;  
}

.student-table .checkbox {
  width: 30px;
}

.student-table .join-time {
  width: 80px;
}

.edit {
  background-image: url('/public/images/edit.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.delete {
  background-image: url('/public/images/delete.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.footer {
  padding: 25px;
}

.sum {
  float: left;
}

pagination {
  float: right;
}