<div class="header wrap">
  <div class="title">我的课程</div>
  <div class="search-box wrap">
    <div class="title">搜索</div>
    <input class="search" type="text" />
  </div>
</div>
<div class="menu wrap">
  <ul class="menu-list">
    <li><button type="button" (click)="createCourse()">创建课程</button></li>
  </ul>
</div>
<list [headerOptions]="headerOptions" [cellOptions]="cellOptions" 
    [operationOption]="operationOption" [datas]="courses"
    (onEdit)="editCourse($event)" (onDelete)="removeCourse($event)"
    (onSelect)="receiveCheckedCourses($event)">
</list>