<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scnu.zhou.signer">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--二维码扫描权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.main.MainActivity"/>

        <activity android:name=".ui.activity.login.LoginActivity"/>

        <activity android:name=".ui.activity.regist.InputPhoneActivity"/>
        <activity android:name=".ui.activity.regist.InputCodeActivity"/>
        <activity android:name=".ui.activity.regist.InputPasswordActivity"/>

        <activity android:name=".ui.activity.user.info.UserInfoActivity"/>
        <activity android:name=".ui.activity.user.info.EditInfoActivity"/>
        <activity android:name=".ui.activity.user.info.EditHeaderActivity"/>
        <activity android:name=".ui.activity.user.settings.SettingActivity"/>
        <activity android:name=".ui.activity.user.settings.FeedbackActivity"/>
        <activity android:name=".ui.activity.user.settings.AboutActivity"/>
        <activity android:name=".ui.activity.user.settings.PrivateActivity"/>

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".ui.activity.sign.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity android:name=".ui.activity.sign.ConfirmSignActivity"/>

    </application>

</manifest>