body{
    background-color: #E4E7EC;
    margin: 0px;
}

#hd{
    background-color: white;
    height: 66px;
}

#hd .logo{
    width: 150px;
    height: 50px;
    margin-top: 8px;
    margin-left: 6%;
    float: left;
}

#hd .line{
    width:1px;
    height: 20px;
    margin-top: 28px;
    margin-left: 5px;
    float: left;
    background-color: #809cae;
}

#hd .title{
    margin: 0px;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    color: #00456B;
    font-family: "微软雅黑 Light";
}

#hd .login{
    color: #97CC00;
    font-family: 微软雅黑;
    font-size: 16px;
    float: right;
    margin-right: 6%;
    margin-top: 25px;
    cursor: pointer;
}

#page{
    height: 600px;
    background-repeat:no-repeat;
    background: url("/public/images/home_pager.png");
    max-width: 1400px;
    margin:0 auto;
}

#page .right{
    width: 30%;
    float: right;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#page .right .title{
    width: 140px;
    height: 45px;
    margin-right: 18%;
    margin-top: 75px;
}

#page .right .text{
    margin-right: 18%;
    margin-top: 15px;
    color: #97CC00;
    font-family: 微软雅黑;
    font-size: 18px;
}

#page .right .fill{
    clear: both;
}

#page .right .download{
    width: 80%;
    margin-top: 65px;
}

#page .right .download .android{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#page .right .download .ios{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#page .right .download .qrcode{
    width: 100px;
    height: 100px;
}