<div id="hd">
    <img class="logo" src="/public/images/home_logo.png">
    <div class="line"></div>
    <h3 class="title">计算机学院出品</h3>
    <a class="login" routerLink="/login">教师登录</a>
</div>

<div id="page">
    <div class="right">
        <img class="title" src="/public/images/home_title.png">
        <p class="text">用新方式记录课堂</p>
        <div class="download">
            <img class="android" src="/public/images/home_icon_android.png">
            <img class="qrcode" src="/public/images/home_qrcode_android.png">
        </div>
        <div class="fill"></div>
        <div class="download">
            <img class="ios" src="/public/images/home_icon_ios.png">
            <img class="qrcode" src="/public/images/home_qrcode_android.png">
        </div>
    </div>
</div>