<img class="menu-btn" src="/public/images/menu-btn.png" title="菜单栏" (click)="toggleSidebar()" />
<div class="dropdown">
  <a class="dropdown-toggle" (click)="toggleMenu()" *ngIf="teacher">
    <img [src]="teacher.avatar" onerror="javascript: this.src='/public/images/avatar.jpg'" />
    <span>{{ teacher.name || '无名氏' }}</span>
    <span class="caret"></span>
  </a>
  <div class="arrow-up" [hidden]="hideMenu"></div>
  <ul class="dropdown-menu" [hidden]="hideMenu">    
    <li (click)="logout()">
      <a>
        <img src="/public/images/logout.png" />
        注销
      </a>
    </li>
  </ul>
</div>