<div class="div_logo">
    <img class="logo" src="/public/images/logo-img.png"/>
    <h3 class="title">当前版本: 1.0</h3>
</div>

<div class="div_title">
    <h3 class="title">当前版本</h3>
    <p class="text">1. Signer系统正式上线；</p>
    <p class="text">2. 提供教师对课程数据、学生数据和签到数据的管理；</p>
    <p class="text">3. 提供聊天室与数据图统计</p>
</div>

<div class="div_title">
    <h3 class="title">关于我们</h3>
    <p class="text">我们是华南师范大学计算机学院2013级的本科生，从2016年9月开始，整个团队花费了经过将近3个月的时间完成了这个系统，
        希望能给华南师范大学的教育提供科学的互联网签到方式，提高教师上课考勤的效率。这个系统诞生之后，有大师掐指一算，此孩非同寻常，
        将来必成大器！</p>
</div>

<div class="div_title">
    <h3 class="title">联系我们</h3>
    <p class="text">发邮件至<span style="color: #2686ef"> A752979730@outlook.com</span></p>
</div>