<table cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th class="checkbox" *ngIf="operationOption.hasCheck || false">
        <input type="checkbox" [(ngModel)]="allSelected"
            (click)="toggleSelectAll(showDatas)" />
      </th>
      <th *ngFor="let h of headerOptions" [style.width]="h.width || ''">
        {{h.name}}
      </th>
      <th></th>      
    </tr>
  </thead>
  <tbody *ngIf="allDatas">  
    <tr *ngFor="let d of showDatas" [class.can-click]="operationOption.canClick || false" (click)="clickRow(d.data)">
      <td></td>

      <!-- 选择框列 -->
      <td class="checkbox" *ngIf="operationOption.hasCheck || false">
        <input type="checkbox" [(ngModel)]="d.checked" (click)="toggleSelectOne(d)" />
      </td>

      <!-- 内容列 -->
      <td *ngFor="let c of cellOptions; let i = index" [ngStyle]="c.mainStyles">

        <!-- 非枚举值模板 -->
        <div *ngIf="!c.valueEnum" [title]="d.data[c.prop] || c.default || '暂无'"
            [style.width]="headerOptions[i].width || '118px'">
          {{d.data[c.prop] || c.default || '暂无'}}
        </div>

        <!-- 枚举值模板 -->
        <div *ngIf="c.valueEnum" [title]="c.valueEnum[d.data[c.prop]].value || '暂无'" 
            [style.width]="headerOptions[i].width || ''" [ngStyle]="c.valueEnum[d.data[c.prop]].style">
          {{c.valueEnum[d.data[c.prop]].value || '暂无'}}
        </div>

      </td>

      <!-- 编辑和删除按钮 -->
      <td>
        <button type="button" class="edit blue-green" *ngIf="operationOption.hasEdit || false" (click)="editData(d.data, $event)"></button>
        <button type="button" class="delete red" *ngIf="operationOption.hasDelete || false" (click)="deleteData(d.data, $event)"></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- 底部数据统计和分页 -->
<div class="footer wrap">
  <div class="sum">
    {{showDatas ? showDatas.length : 0}} 
    / 
    {{allDatas ? allDatas.length : 0}}
  </div>
  <pagination [data]="allDatas" (onSelectPage)="selectePage($event)"></pagination>
</div>