<form>
  <div class="form-group wrap">
    <label for="course" class="left">所属课程</label>
    <select id="course" class="right" name="course" 
          [ngModel]="selectedCourse" (ngModelChange)="selectCourse($event)">
      <option value="">请选择课程</option>
      <option *ngFor="let c of courses" [ngValue]="c">{{c.name}}</option>
    </select>
  </div>
  <div class="form-group wrap">
    <label for="start-time" class="left">开始时间</label>
    <input type="datetime-local" id="start-time" class="right" name="startTime" 
        [(date)]="sign.startTime" />
  </div>
  <div class="form-group wrap">
    <label for="end-time" class="left">结束时间</label>
    <input type="datetime-local" id="end-time" class="right" name="endTime" 
        [(date)]="sign.endTime"/>
  </div>
</form>