<form>
  <div class="form-group wrap">
    <label for="course" class="left">所属课程</label>
    <select id="course" class="right" name="course" 
          [ngModel]="selectedCourseId" (ngModelChange)="selectCourse($event)">
      <option value="">请选择课程</option>
      <option *ngFor="let c of courses" [value]="c._id">{{c.name}}</option>
    </select>
  </div>
  <div class="form-group wrap">
    <label for="sign-date" class="left">签到日期</label>
    <input type="date" id="sign-date" class="right" name="signDate" 
        [ngModel]="extra.signDate" (ngModelChange)="selectTime($event, 0)" />
  </div>
  <div class="form-group wrap">
    <label class="left">签到时间</label>
    <div class="right wrap">
      <input type="time" class="time" name="startTime" 
        [(ngModel)]="extra.startTime" (ngModelChange)="selectTime($event, 1)" />
      <div class="seperator">—</div>
      <input type="time" class="time" name="endTime" 
        [(ngModel)]="extra.endTime" (ngModelChange)="selectTime($event, 2)" />
    </div>    
  </div>
</form>